<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="game">
            <h2><span>Game</span> {{game.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{game.name}}</span>
                </dd>
                <dd>Players</dd>
                <dd>
                    <ul>
                        <li *ngFor="let player of game.players">
                            <a [routerLink]="['/player', player.id, 'view' ]">{{player.name}}</a>
                        </li>
                    </ul>
                </dd>
            </dl>


            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/game', game.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
