<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="suit">
            <h2><span>Suit</span> {{suit.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Suit Type</span></dt>
                <dd>
                    <span>{{suit.suitType}}</span>
                </dd>
                <dt><span>Deck</span></dt>
                <dd>
                    <div *ngIf="suit.deck">
                        <a [routerLink]="['/deck', suit.deck?.id, 'view']">{{suit.deck?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/suit', suit.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
