<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="deck">
            <h2><span>Deck</span> {{deck.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Game</span></dt>
                <dd>
                    <div *ngIf="deck.game">
                        <a [routerLink]="['/game', deck.game?.id, 'view']">{{deck.game?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/deck', deck.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
